@model List<Producto>
@{
    ViewData["Title"] = "Tienda Vinilos";
    Layout = "_LayoutUsuario";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="VistaUsuario" asp-action="Index">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="buscar" placeholder="Buscar productos">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@item.ImagenUrl" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">Precio: $@item.Precio</p>
                    <a asp-action="Details" asp-controller="VistaUsuario" asp-route-Id="@item.Id" class="btn btn-primary">Ver detalles</a>
                    <a asp-action="Create" asp-controller="Resena" class="btn btn-success">Agregar Reseña</a>
                    <a asp-action="DetailsReview" asp-route-Id="@item.Id" asp-controller="Resena" class="btn btn-info">Ver comentarios</a>
                </div>
            </div>
        </div>
    }
</div>
<p>En esta página se muestran los productos.</p>
