@model List<Producto>
@{
    ViewData["Title"] = "Lista de Productos";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
                <td>
                    <a asp-action="Details" asp-route-Id="@item.Id" class="btn btn-primary">
                        <i class="fas fa-eye" style="color: #ffffff;"> Ver</i>
                    </a>
                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">
                        <i class="fa-solid fa-pen" style="color: #ffffff;"> Editar</i>
                    </a>
                    <a type="button" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">
                        <i class="fa-solid fa-trash" style="color: #ffffff;"> Borrar</i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create","Producto")'">Nuevo Producto</button>

<p>En esta página se muestran los productos.</p>
